auto-install-peers=true
strict-peer-dependencies=false
registry=https://registry.npmjs.org
@aptos-internal:registry=https://us-npm.pkg.dev/aptos-registry/npm/
//us-npm.pkg.dev/aptos-registry/npm/:always-auth=true
@jsr:registry=https://npm.jsr.io
