name: Issue labeler
on:
  issues:
    types: [ opened ]

permissions:
  contents: read

jobs:
  label-component:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/bug.yml

      - name: Set labels based on the section field
        uses: redhat-plumbers-in-action/advanced-issue-labeler@v2
        with:
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          section: section
          block-list: |
            None
            Other
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Add comment tagging relevant teams/users based on the section field
        uses: actions/github-script@v7
        env:
          PARSED_SECTIONS: ${{ steps.issue-parser.outputs.issueparser_section }}
        with:
          script: |
            const fs = require('fs')
            const { PARSED_SECTIONS } = process.env

            const jsonStr = fs.readFileSync("${{ github.workspace }}/.github/sectionsToTags.json")
            const sectionsToTags = JSON.parse(jsonStr)
            const sections = PARSED_SECTIONS.split(", ").map(s => s.trim())
            const body = sections
              .map(section => sectionsToTags[section])
              .filter(Boolean)
              .join(" ")

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body
            })
